<!-- views/pages/apparel.ejs -->
<!-- This page will be the dynamic HTML template we'll be using to get stuff from the database and show them on the website. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<div class="container">
    <h1>Popular</h1>
       <% for( var i = 0; i < 7; i++) { %>
      <div class="row">
        <div class="col-sm">
          <!-- Card inside the column-->

       <% if(i < 7) { %>
            <div class="card" style="width: 21rem; margin-top: 2rem;">
       
                <img class="card-img-top" style="width: 334px; height: 21rem" src=<%= rows[i].apparel_pic %> alt="Card image cap">
                <div class="card-body" style="height: 8rem">
                  <h5><a href=/iviews/<%= rows[i].apparel_id %>><%= rows[i].apparel_brand %> - <%= rows[i].apparel_name %></a></h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>
       <% } i++; %>

       <% if(i < 7) { %>
              <div class="card" style="width: 21rem; margin-left: 23rem; margin-top: -29rem">
                <img class="card-img-top" style="width: 334px; height: 21rem" src=<%= rows[i].apparel_pic %> alt="Card image cap">
                <div class="card-body" style="height: 8rem">
                  <h5><a href=/iviews/<%= rows[i].apparel_id %>><%= rows[i].apparel_brand %> - <%= rows[i].apparel_name %></a></h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>
              <% } i++; %>

              <% if(i < 7) { %>
<div class="card" style="width: 21rem; margin-left: 46rem; margin-top: -29rem">
                <img class="card-img-top" style="width: 334px; height: 21rem" src=<%= rows[i].apparel_pic %> alt="Card image cap">
                <div class="card-body" style="height: 8rem">
                  <h5><a href=/iviews/<%= rows[i].apparel_id %>> <%= rows[i].apparel_brand %> - <%= rows[i].apparel_name %></a></h5>
                  <!--Buttons-->
                  <center>
                      <button type="button" class="btn btn-primary btn-sm">Wishlist</button>
                      <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
                      <button type="button" class="btn btn-primary btn-sm">View More</button>
                  </center>                 
                </div>
              </div>
              <% } %>
        </div>

            </div>
              <% } %>
        </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
