<div class="container">
<div class="row" >
   <div class="col-lg-12">
      <div class="page-header">
         <h2>Inventory Report</h2>
      </div>
<div class="row" style="background-color: #eeeeee;">
   <div class="col-lg-12">
      <h3>Inventory</h3>
   </div>
</div>
<div class="row" style="background-color: #eeeeee;">
	<div class="col-lg-4 col-lg-offset-4">
      <div class="inner-addon left-addon">
   </div>
   <div class="row">
         <table style="width:100%" align="center" class="table" id="table">
         		<thead>
               <tr>
                  <th>Item ID</th>
                  <th>Item Name</th>
                  <th>Category</th>
                  <th>Price (USD)</th>
                  <th>Quantity</th>
               </tr>
               </thead>
               <tbody>
		<% for( var i = 0; i < inv1.length; i++) { %>
               <tr align="center">
                  <td><%= inv1[i].Book_ID %></td>
                  <td><%= inv1[i].Book_Name %></td>
                  <td>Book</td>
                  <td><%= inv1[i].Book_Price %></td>
                  <td><%= inv1[i].Book_Quantity %></td>
               </tr>
		<% } %>
               <% for( var i = 0; i < inv2.length; i++) { %>
               <tr align="center">
                  <td><%= inv2[i].Apparel_ID %></td>
                  <td><%= inv2[i].Apparel_Name %></td>
                  <td>Apparel</td>
                  <td><%= inv2[i].Apparel_Price %></td>
                  <td><%= inv2[i].Apparel_Quantity %></td>
               </tr>
		<% } %>
		<% for( var i = 0; i < inv3.length; i++) { %>
               <tr align="center">
                  <td><%= inv3[i].Figurine_ID %></td>
                  <td><%= inv3[i].Figurine_Name %></td>
                  <td>Figurine</td>
                  <td><%= inv3[i].Figurine_Price %></td>
                  <td><%= inv3[i].Figurine_Quantity %></td>
               </tr>
		<% } %>
		<% for( var i = 0; i < inv4.length; i++) { %>
               <tr align="center">
                  <td><%= inv4[i].Snack_ID %></td>
                  <td><%= inv4[i].Snack_Name %></td>
                  <td>Snack</td>
                  <td><%= inv4[i].Snack_Price %></td>
                  <td><%= inv4[i].Snack_Quantity %></td>
               </tr>
		<% } %>
		<% for( var i = 0; i < inv5.length; i++) { %>
               <tr align="center">
                  <td><%= inv5[i].Vgame_ID %></td>
                  <td><%= inv5[i].Vgame_Name %></td>
                  <td>Videogame</td>
                  <td><%= inv5[i].Vgame_Price %></td>
                  <td><%= inv5[i].Vgame_Quantity %></td>
               </tr>
		<% } %>
		</tbody>
         </table>
         <hr>
   </div>
</div>
