<!-- views/pages/myaccount.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<!-- TODO: Get username, name, address, etc. from database and post test results here. -->
<main>
 <!-- <div class="jumbotron">
        <h1>My Account</h1>
        <p>This is the account page.</p>
        <p>Username: %= Username %></p>
        <p>Name: %= FirstN %> %= LastN %></p>
        <p>Address: %= Address %></p>
        
    </div> -->
    <div class="jumbotron">
	<% if(myVar) { %>
        <h1>My Account</h1>
        <p>Email: <%= userVar.email %></p>
	
        <p>Name:  <%= userVar.first_name %> <%= userVar.last_name %></p>
	
        <p>Address: <%= userVar.address %>, <%= userVar.state %> <%= userVar.zip_code %></p>
       <% } else { %>
	<a class="nav-link" href="/login">Not logged in please login</a>
	<% } %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
